#intro-overlay {
    position: fixed;
    inset: 0;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    transition: opacity .6s ease;
}

#intro-overlay.hidden {
    opacity: 0;
    pointer-events: none;
}

/* ==========================
   CONTENEDOR PRINCIPAL
========================== */

.intro-content {
    width: 100%;
    min-height: 100vh;
    background-image: url("/assets/images/front1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 2rem;
}



/* ETIQUETA SUPERIOR */

.intro-label {
    font-size: 13px;
    letter-spacing: 3px;
    color: #ffffff;
    margin-bottom: 40px;
}

/* TITULO */

.intro-content-main h1 {
    font-size: 3rem;
    line-height: 0.9;
    font-weight: 400;
    margin: 0;
    color: #ffffff;
}

/* LINEA DECORATIVA */

.intro-line {
    width: 60px;
    height: 1px;
    background: #b89b7a;
    margin: 40px 0;
}

/* TEXTO */

.intro-description {
    font-size: 22px;
    line-height: 1.2;
    max-width: 500px;
    color: rgba(255, 255, 255, 0.75);
    margin-bottom: 50px;
}


.intro-content-main{
    background-color: #0000008e;
    padding: 2rem;
    border: 2px solid #fff;
    max-width: 40%;
}
/* BOTON */

#enter-btn {
    width: 280px;
    height: 64px;
    border: none;
    cursor: pointer;
    background: #ffffff;
    color: #111;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 600;
    transition: .3s;
}

#enter-btn:hover:not(:disabled) {
    transform: translateY(-2px);
}

#enter-btn:disabled {
    opacity: .65;
    cursor: not-allowed;
}

/* FOOTER */

.intro-footer {
    margin-top: 40px;
    font-size: 14px;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.45);
}



/* ==========================
   RESPONSIVE
========================== */

@media (max-width: 900px) {

    .intro-content {
        grid-template-columns: 1fr;
        min-height: 100vh;
        height: auto;
    }

    .intro-left {
        padding: 40px 25px;
    }

    .intro-left h1 {
        font-size: 48px;
    }

    .intro-description {
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 35px;
    }

    .intro-content-main{
       max-width: 90%;
    }

    #enter-btn {
        width: 100%;
    }

    .intro-right {
        display: block;
        min-height: 300px;
        height: 50vh;
    }

    .intro-right video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media (max-width: 480px) {

    .intro-left {
        padding: 30px 20px;
    }

    .intro-left h1 {
        font-size: 38px;
    }

    .intro-label {
        font-size: 11px;
        letter-spacing: 2px;
        margin-bottom: 25px;
    }

    .intro-line {
        margin: 25px 0;
    }

    .intro-description {
        font-size: 16px;
    }

    .intro-right {
        height: 40vh;
        min-height: 250px;
    }
}